<div id="<%= dom_id post %>">
  <%= image_tag post.image.url, width: "100px" %>

  <h3>Body: <%= link_to post.body, post %></h3>

  <p>Posted by: <%= post.user.name %></p>

  <p>Tags: <%= post.tags.map(&:name).join(", ") %></p>
</div>
