<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div>
      <%= image_tag post.image.url, width: "100px" %>

      <h3><%= link_to post.body, post %></h3>

      <p><%= post.tags.map(&:name).join(", ") %></p>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
