<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div>
      <h3><%= link_to post.body, post %></h3>

      <p>
        <strong>Tags:</strong>
        <%= post.tags.map(&:name).join(", ") %>
      </p>

      <%= link_to "Show this post", post %>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
