<p style="color: green"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.url %>
</p>

<p>
  <strong>Posted by: </strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @post.tags.map(&:name).join(", ") %>
</p>

<%= link_to "Back to posts", posts_path %>

<% if can? :manage, @post %>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  </div>
<% end %>